<style>
  body {
    /*padding: 5%;*/
    }
  * {
    font-family: "Graebenbach", "Helvetica", sans;
  }
  h2 {
    font-size: 48px;
    text-align: center;
    /*text-transform: uppercase;*/
    padding: 0;
  }
  h3 {
    font-size: 36px;
    text-align: center;
    padding: 0 0 12px 0;
  }
  p {
    font-size: 24px;
    line-height: 36px;
    padding: 0 0 12px 0;
  }
  img {
    width: 32%; /*320px;*/
    float: left;
    margin: 0 3% 48px 0;
  }
  .wrapper-sign {
    color: black;
    background-color: yellow;
    width: 640px;
    height: auto;
    padding: 24px;
    margin: 0 24px 48px 0;
  }
  .sign {
    color: black;
    background-color: yellow;
    margin: 24px;
    border: 8px solid black;
    padding: 24px;
  }
  .blank {
    width: 100%;
    height: 120px;
  }
  .shadow {
    -moz-box-shadow:    0 8px 16px 8px rgba(0,0,0,0.12);
    -webkit-box-shadow: 0 8px 16px 8px rgba(0,0,0,0.12);
    box-shadow:         0 8px 16px 8px rgba(0,0,0,0.12);
  }
  .rounded {
    border-radius: 8px;
  }
  .pink {
    background-color: pink;
  }
  .text-block {
    width: 65%;
    float: right;
  }
  #wrapper {
    width: 100%;
    display: flex;
    align-items: center;
  }
</style>
